{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}
{% block body %}


<main>


    <form  method="post" class="login" action="{{ path('app_login') }}">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}



        {% if app.user %}
            <h1 class="mb-3 mx-auto">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">- Logout -</a>
            </h1>
        {% endif %}
        <h2>Bienvenue</h2>
        <p>Connectez-vous</p>
        <input type="text" name="_username" id="username" value="{{ last_username }}" placeholder="Username"  required autofocus/>
        <input type="password" name="_password" id="password" placeholder="Mot de passe" autocomplete="current-password" required />
        <input type="submit" value="Se connecter" />
        <div class="links">
            <a href="#">mot de passe oublié</a>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Se souvenir de moi</label>
            </div>
        
        
    </form>
</main>
{% endblock %}