{# templates/activiter/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvelle Activité{% endblock %}
{% form_theme form 'form/custom_activiter_theme.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/createActiviter.css') }}">
{% endblock %}

{% block body %}
    <h1>Créer une nouvelle activité</h1>
    <div class="activiter-form-container">
        {{ form_start(form) }}

            <div class="row mb-3">
                <div class="col-md-6">{{ form_row(form.nomActiviter) }}</div>
                <div class="col-md-6">{{ form_row(form.startedAt) }}</div>
            </div>

            {# -------------------------------------- #}
            {# --- Collection Principale: Exercices --- #}
            {# -------------------------------------- #}
            {#
            - Le fieldset porte le contrôleur 'collection-type' pour gérer l'ajout/suppression d'exercices.
            #}
            <fieldset class="border p-3 mb-3" 
                data-controller="collection-type">
                <legend class="w-auto px-2">{{ form_label(form.activiterExercices) }}</legend>

                {# Conteneur pour les éléments 'exercice' #}
                <ul class="exercices-collection list-unstyled mb-0"
                    data-collection-type-target="collectionHolder">
                </ul>

                {# Prototype pour AJOUTER un exercice (caché par défaut) #}
                {# Ce prototype contient TOUTE la structure HTML d'un 'li.exercice-item' ci-dessus,
                y compris les data-controllers, targets, actions, etc. pour que tout fonctionne
                quand un nouvel exercice est ajouté. C'est pourquoi form_widget() est essentiel. #}
                <div class="d-none" {# Caché visuellement #}
                    data-collection-type-target="prototype" {# Cible pour le collection-type parent #}
                    data-prototype="{{ form_widget(form.activiterExercices.vars.prototype)|e('html_attr') }}">
                    {# form_widget génère tout le HTML nécessaire pour un nouvel élément exercice #}
                </div>

                {# Bouton pour ajouter un nouvel exercice (géré par le collection-type parent) #}
                <button type="button" class="btn btn-add"
                        data-action="click->collection-type#add">
                    Ajouter un exercice
                </button>
            </fieldset>
            {# --- Fin Collection Principale: Exercices --- #}

            <div>
                <button type="submit" class="btn btn-success">Enregistrer l'activité</button>
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

