{% extends 'base.html.twig' %}

{% block title %}Hello ActiviterController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
    <a href="{{ path('app_activiter_create') }}" class="btn btn-add">Créer une activité</a>

    <div class="card-grid-container">

        {% for activiter in activiters %}
            {# La carte individuelle #}
            <div class="activiter-card">
                {# En-tête de la carte #}
                <div class="card-header">
                    {# Utilisation de null-coalescing operator pour éviter erreur si User est null #}
                    <h2> {{activiter.nomActiviter }}</h2>
                    {# Utilisation de null-coalescing operator pour éviter erreur si typeActiviter est null #}
                    
                    
                    <p>Date : {{activiter.startedAt|date('l d F Y H:i', 'Europe/Paris')}} </p> 
                </div>
                
                {# Corps de la carte - Contenu principal #}
                <div class="card-body">
                    {% if activiter.activiterExercices is not empty %}
                        {% for exercice in activiter.activiterExercices %}
                        <h3>
                            {{exercice.typeActiviter}}
                        </h3>
                            {% for donnee in exercice.dataActiviters %}
                                <p>
                                    {# Accède au nom de la propriété via la relation #}
                                    <span class="data-label">{{ donnee.proprieterActiviter.nomProprieter }}:</span>
                                    {# Accède à la valeur enregistrée #}
                                    <span class="data-value">{{ donnee.valeur }}</span>
                                    {# Optionnel: ajoute l'unité si elle existe #}
                                    {% if donnee.proprieterActiviter.unit %}
                                        <span class="data-unit"> {{ donnee.proprieterActiviter.unit }}</span>
                                    {% endif %}
                                </p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div> {# Fin card-body #}

            </div> {# Fin activiter-card #}
        {% else %}
            {# Message si aucune activité n'est trouvée #}
            <p class="no-activities">Aucune activité à afficher pour le moment.</p>
        {% endfor %}

    </div> {# Fin card-grid-container #}
{% endblock %}